.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 72px;
  color: burlywood;
}

.card-list {
  width: 75vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
